table, tr,td
{
	border:1px solid black;
	width:500px;
	border-spacing:1px;
}
table
{
	margin-top:50px;
	height:100px;
}
td.right
{
	text-align:right;
}td.t12-center
{
	text-align:center;
}
table.middle
{
	border:1px solid blak;
	margin-top:40px;
}
td.c
{
	height:10px;
	background-color:blue;
}
td.d
{
		height:10px;
	background-color:green;
}
td.g
{
	width:30px;
}


